@import "zerostyle.scss";
@import "font.scss";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NotoSans-Regular;
    text-decoration: none !important;

}
html, body{
    height: 100%;
}
body{
    padding-bottom: 110%;
    background: #313131 !important;
}
.header-nav{
    background: #0C0C0C;
}
.list__link{
    font-size: 14px;
    letter-spacing: 0.05em;
    color: white !important;
}
.nav-content{
    justify-content: flex-end !important;
}
.languages{
    padding-right: 74px;
}
.language-dropdown{
    background: #0C0C0C !important;
    min-width: 0 !important;
    padding: 0 !important;
}
.language-content{
    display: flex;
    padding: 10px 20px 10px 20px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    width: 100%;
    position: relative;
    ::before{
        content:"";
        width: 90%;
        left: 5%;
        height: 1px;
        background: white;
        top: 50%;
        position: absolute;
    }
}
.dropdown__link{
    padding-bottom: 5px;
    font-size: 14px;
    letter-spacing: 5%;
    padding: 5px 0 !important; 
    border-bottom: 1px solid #c4c4c400 !important;
    text-align: center !important;
    color: #BBBBBB !important;
}
.dropdown__link:hover{
    background: #0C0C0C !important;
    color:white !important;
}
.header-content> .header-logo{
    justify-content: start !important;
    gap: 150px;
}
.search__input{
    color: #BBBBBB !important;
    padding: 15px 261px 15px 10px !important;
    background: #313131 !important;
    border-radius: 0px !important;
}
.search__input::-webkit-input-placeholder{
    width: 100%;
    color:#BBBBBB !important;
}
.btn-search{
    font-family: NotoSans-Light;
    max-width: 190px;
    color: white;
    font-size: 14px;
    width: 100%;
    border: 1px solid white;
    background: #313131;
    i{
        font-size: 20px;
        margin-left: 5px;
    }
}
.header-products__dropdowns{
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
}
.header-dropdown__link{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-size: 18px;
    font-family: NotoSans-Regular;
    transition: all 0.5s;
}
.header-dropdown__link:hover{
    border-bottom: 1px solid white;
}
.carousel-content{
    display: flex;
    justify-content: space-between;
}
.list-title{
    border-bottom   : 1px solid rgba(255, 255, 255, 0);
    margin-bottom: 10px;
    a{
        font-size: 16px;
        letter-spacing: 5%;
        color: white;
        transition: all 0.5s;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        &:hover{
            border-bottom: 1px solid white;
            color: white !important;
            
        }
    }
}


.header-dropdown{
    background: black !important;
    padding: 0 !important;
    transition: all 0.5s;
}
.dropdown-lists{
    min-width: 100px !important;
    width: 100%;
    padding: 0 !important;
    background: black;
}

.dropdown-list__link{
    color: white;
    font-size: 14px;
    font-family: NotoSans-Regular;
    letter-spacing: 5%;
}
.dropdown-content{
    display: flex;
    gap: 70px;  
    padding: 20px;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        width: 260px;
        height: 5px;
        background: white;
    }
}
.carousel__img{
    filter: drop-shadow(-10px 5px 3px rgba(0, 0, 0, 0.25));
    left: -7%;
    position: relative;
    max-height: 700px;
    height: 100%;
    background: radial-gradient(30% 50% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    
}
.carousel-text{
    top: 20% !important;
    right: -30% !important;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    gap: 120px;
    align-items: center;
    h2{
        font-size: 48px;
        line-height: 70px;
        letter-spacing: 5%;
        text-align: center;
        max-width: 600px;
        font-family: NotoSans-SemiBold;
    }
}
.btn__link{
    padding: 12px 46px;
    border: 1px solid white;
    color: white;
}
.caousel-slide-indicators{
    gap: 25px !important;
    align-items: flex-end !important;
    button{
        height: 15px !important;
        width: 15px !important;
        border-radius:  100% !important;
        &.active{
            height: 25px !important;
            width: 25px !important;
            
        }
    }
}
.carousel-icon{
    display: none !important;
}
.body-bg{
    margin-top: -30px;
    padding-top: 30px;
    background: #313131 !important;
}
.header-slide{
    margin-bottom: 30px;
}
.card-desc{
    position: absolute;
    left: 20px;
    padding: 0 !important;
    bottom: 15px;
}
.discount-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    padding: 15px 10px;
    background: #313131;
    border-radius: 100%;
    p{
        font-family: NotoSans-Regular;
        font-size: 20px;
        color: white;
        margin: 0 !important;
        letter-spacing: 5%;
    }
}
.card-big{
    background: url(../img/cards-line/card-1.png);
    background-position: center;
    max-width: 630px;
    position: relative;
    min-height: 500px;
    height: 100%;
    max-height: 500px;
    width: 100%;
}
.card-mid{
    min-height: 235px;
    max-height: 235px;
    height: 100%;
    width: 100%;
    background: url(../img/cards-line/card-2.png);
}
.card-little{
    min-height: 235px;
    max-height: 235px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background: url(../img/cards-line/card-3.png) white;
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
    .card-desc{
        top: 15px;
        left: 20px;
    }
    .discount-btn{
       top: 155px;
        left: 20px;
    }
    &:nth-child(2){
        min-height: 235px;
        max-width: 300px;
        background: url(../img/cards-line/card-4.png) white;
        filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
        .card-desc{
            top: 15px;
            left: 20px;
        }
        .discount-btn{
           top: 155px;
            left: 20px;
        }
    }
}
.little-cards{
    display: flex;
    gap: 30px;
    max-width: 627px;
    flex-grow: 1;
    width: 100%;
}
.card-title{
    font-family: NotoSans-Medium;
    font-size: 24px;
    letter-spacing: 5%;
}
.card-text{
    font-size: 24px;
    font-family: NotoSans-Light;
    letter-spacing: 5%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 !important;
    padding: 0 !important;
    gap: 30px;
}
.cards-right{
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-btn{
    align-self: center;
    margin-top: 30px;
    margin-bottom: 150px;
}
.cards-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phone-card__btn{
    color: white;
    font-size: 14px;
    max-height: 35px;
    position: absolute;
    bottom: 10px;
    display: none;
    transition: all 0.3s;
    font-family: NotoSans-Regular;
    padding: 5px 36px;
    border: 3px solid rgb(255, 255, 255) !important;
}
.phone-card{
    background: url(../img/phone/phone-1.png);
    max-width: 300px;
    min-height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0);
    padding-bottom: 15px;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    transition: all 0.3s;
    &:hover,.phone-card__btn, .heart{
        border: 1px solid gray;
        .phone-card__btn{
            display: block;
        }  
        .heart{
            display: block;
            border: none;
            
        } 
    }
    &:nth-child(2){
        background: url(../img/phone/phone-2.png);
        background-repeat: no-repeat;
    }
    &:nth-child(3){
        background: url(../img/phone/phone-3.png);
        background-repeat: no-repeat;
    }
    &:nth-child(4){
        background: url(../img/phone/phone-4.png);
        background-repeat: no-repeat;
    }
}
.phone-card__title{
    font-size: 16px;
    color: white;
    font-family: NotoSans-Medium;

}
.phone-card__body{
    display: flex;
    position: absolute;
    bottom: 35px;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.phone-card__sub-title{
    color: white;
    font-family: NotoSans-Light;
    font-size: 14px;
}
.card-line{
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: NotoSans-SemiBold;
    font-size: 36px;
    color: white;
}
.phone-title{
    margin-bottom: 30px;
}
.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    right: -70px;
    transition: all 0.5s;
    top: 30px;
    display: none;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }
  .phone-content{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .phone-btn{
      margin-top: 30px;
      align-self: center;
  }
 .laptop-content{
     margin-top: 150px;
     margin-bottom: 70px;
 }
 .laptop-card{
     background: url(../img/laptop/laptop-1.png);
     background-repeat: no-repeat;
     &:nth-child(2){
         background: url(../img/laptop/laptop-2.png);
         background-repeat: no-repeat;
     }
     &:nth-child(3){
         background: url(../img/laptop/laptop-3.png);
         background-repeat: no-repeat;
     }
     &:nth-child(4){
         background: url(../img/laptop/laptop-4.png);
         background-repeat: no-repeat;
     }
 }
 .ps-content{
     background: url(../img/ps/playstation.png) center;
     margin-bottom: 70px;
 }
 .ps-body{
     padding: 94px 0 130px 20px;
 }
 .ps-title{
     font-size: 48px;
     margin-top: 20px;
     margin-bottom: 70px;
 }
.accessors-card{
    background: url(../img/accessors/accessory-1.png);
    background-repeat: no-repeat;
    &:nth-child(2){
        background: url(../img/accessors/accessory-2.png);
        background-repeat: no-repeat;
    }
    &:nth-child(3){
        background: url(../img/accessors/accessory-3.png);
        background-repeat: no-repeat;
    }
    &:nth-child(4){
        background: url(../img/accessors/accessory-4.png);
        background-repeat: no-repeat;
    }
}
.accessors{
    padding-bottom: 70px;
}
footer{
    background: #000;
}
.footer-content{
    display: flex;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: space-around;
}
.footer-social__lists{
    display: flex;
    gap: 15px;
}
.info-lists{
    display: flex;
    margin-top: 50px;
    padding: 0;
    gap: 30px;
    margin-bottom: 45px;
}
.subscribe-title{
    font-size: 18px;
    font-family: NotoSans-Regular;

}
.input-mail{
    border-radius:0 !important;
    max-width: 520px !important;
    width: 100% !important;
    min-height: 50px;

}
.input-form{
    flex-wrap: nowrap !important;
}
.footer-info{
    max-width: 520px;
    width: 100%;
    position: relative;
}
.btn__input{
    max-width: 190px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    position: absolute;
    right: 0;
    background: #313131 !important;
    color: white;
    font-family: NotoSans-Regular;
    font-size: 18px;
    z-index: 900;
}
.footer-social__lists{
    align-self: center;
}